@import 'base';
.header{
  margin-bottom: 80px;
}
.modal{
  max-width: $modal-width;
  border-radius: $modal-radius;
  padding: $modal-padding;
  background: $modal-bg;
  margin: 0 auto;
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__subtitle{
    color: $c-text;
    margin-bottom: 16px;
    font-size: 18px;
  }
  &__methods{
    width: 33%;
    flex-shrink: 0;
  }
  &__body{
    gap: 18px;
  }
  &__details{
    width: 100%;
  }
}


.close{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: $btn-bg;
  cursor: pointer;
}


.tabs{
  gap: 8px;
  li{
    display: flex;
    a{
      padding: $modal-padding;
      background: $btn-bg;
      width: 100%;
      border-radius: $btn-radius;
      color: $c-text;
      &:hover{
        background: $c-active-bg;
        transform: scale(0.96);
      }
      &.active{
        background: $c-active-bg;
        transform: scale(0.96);
      }
    }
  }
}

.details{
  &__row{
    margin-bottom: 40px;
   .qr{
     max-width: 137px;
     margin-right: 17px;
     img{
       max-width: 100%;
     }
   }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.details{
  &__amount, &__address, &__status{
    width: 100%;
  }

  &__label{
    font-size: $text-size;
    color: $c-label;
    margin-bottom: 6px;
    padding: 6px 16px;
  }
  &__value{
    color: $c-text;
    font-size: $text-size;
    position: relative;
    margin-bottom: 12px;
  }
  &__time{
    color: $c-yellow;
    position: absolute;
    right: 21px;
    top: 15px;
  }
  &__info{
    font-size: $text-size;
    color: $c-label;
    margin-bottom: 28px;
    line-height: 1.4em;
  }
  &__result{
    color: $c-text;
    font-size: $text-size;
  }
  &__input{
    position: relative;
    color: $c-text;
  }
  &__quick{
    position: absolute;
    right: 21px;
    top: 14px;
    gap: 8px;
    a{
      padding: 3px 6px;
      font-size: 16px;
      color: $c-green;
      border-radius: $radius-xs;
      background: $c-d-green;
    }
  }
  &__extra{
    color: $c-yellow;
    margin-top: 6px;
    margin-bottom: 32px;
    display: flex;
  }
 &__saved-cards{
   margin-bottom: 16px;
   gap: 8px;
 }
  &__saved-cards_item{
    background: $btn-bg;
    border-radius: $btn-radius;
    padding: 12px;
    width: 33%;
    .saved__header{
      margin-bottom: 6px;
    }
    .saved__menu{
      color: #FFFFFF;
      font-size: 19px;
      font-weight: 700;
      padding: 0;
      margin-left: auto;
    }
    .saved__number{
      margin-left: 6px;
    }
    .saved__expire{
      color: #FFFFFF;
    }
  }
  &__cards_details{
    margin-top: 8px;
    gap: 8px;
  }
  .status{
    &__current{
      color: $c-active-bg;
      margin-left: 24px;
    }
  }
  .btn__secondary{
    margin-top: 32px;
    margin-bottom: 16px;
  }
  &__cards_details{
    margin-bottom: 16px;
  }
}






@import 'media';